<html>
  <head>
    <title>Balance Projector</title>    
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/thirdparty/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/app/app.js"></script> 
    <script src="js/directive/incexp.js"></script>
    <script src="js/controller/controller.js"></script> 
    <script src="js/thirdparty/line-chart.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>    
  </head>
  <body ng-app="myApp">

    <div class="container" ng-controller="ProjectorController" id="mainDiv">
      <h2>Balance Projector Application</h2>
        <div class="container">
          <div style="margin-bottom:20px; background: #F2F2F2;" class="row">
            <div class="col-md-2"></div>
            <div id="graph" class="graph-wrapper col-md-8">
              <linechart data="data" options="options" mode="" width="800" height="300"></linechart>
              <button class="btn btn-primary" ng-click="updateGraph()">Update Graph</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

      <div style="margin-bottom: 10px" class="container">
        <div class="row">
          <div id="inputDiv" class="col-md-7">        
            <p>How much money do you have today</p>
            <p><input type="number" class="form-control" ng-model="startAmount"></p>
            
            <p class="description">Add your regular source(s) of income</p>
            <li ng-repeat="income in incomes">
              <income-expense-items dataobject="income" buttonclick="removeIncome($index)"></income-expense-items>
            </li>
            <br/>
            <button class="btn btn-default" ng-click="addNewIncome()" id="addIncomeBttn"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>
            <p class="description">Add your regular expenses</p>         

            <li ng-repeat="expense in expenses">
              <div dataobject="expense" buttonclick="removeExpense($index)" income-expense-items></div>
            </li> 
            <br/>
            <button class="btn btn-default" ng-click="addNewExpense()" id="addExpenseBttn"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>


            <p class="description">Add your casual source(s) of income</p>
            <li ng-repeat="casualIncome in casualIncomes">
              <div dataobject="casualIncome" monthlabelsobj="monthLabels" buttonclick="removeCasualIncome($index)" casual-income-expense-items>
              </div> 
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewCasualIncome()" id="addCasualIncomeBttn"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>

            <p class="description">Add your casual expenses</p>
            <li ng-repeat="casualExpense in casualExpenses">
              <div dataobject="casualExpense" monthlabelsobj="monthLabels" buttonclick="removeCasualExpense($index)" casual-income-expense-items></div>
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewCasualExpense()" id="addCasualExpenseBttn"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>
          </div>

        <div id="outputDiv" class="col-md-5">
          <table ng-cloak>
            <th colspan="2">Accumulated Net Income</th>
            <th>Balance</th>
            <tr ng-repeat="netIncome in getNetIncomes() track by $index">
              <td>{{getMonthLabel($index)}}</td>
              <td style="text-align: right" class="netIncome">{{netIncome}}</td>
              <td style="text-align: right" class="balance">{{netIncome + startBalance}}</td>
            </tr>
          <table>
          <button class="btn btn-primary" ng-click="saveData()" style="margin-top:10px">Save Data</button>
        </div>
      </div>
    </div>
  </body>
</html>