<html>
  <head>
    <title>Balance Projector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/controller.js"></script> 
    <script src="js/line-chart.min.js"></script>    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
  </head>
  <body ng-app="myApp">

    <div class="container" ng-controller="controller" id="mainDiv">
      <h2>Balance Projector Sample Application</h2>
        <div class="container">
          <div style="margin-bottom:20px; background: #F2F2F2;" class="row">
            <div class="col-md-2"></div>
            <div id="graph" class="graph-wrapper col-md-8">
              <linechart data="data" options="options" mode="" width="800" height="300"></linechart>
              <button class="btn btn-primary" ng-click="updateGraph()">Update Graph</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

      <div style="margin-bottom: 10px" class="container">
        <div class="row">
          <div id="inputDiv" class="col-md-7">        
            <p>How much money do you have today</p>
            <p><input type="number" class="form-control" ng-model="startAmount"></p>
            
            <p>What is your regular income</p>
            <li ng-repeat="income in incomes">
              <input type="checkbox" ng-model="income.apply">
              <input class="form-control" type="text" ng-model="income.title" placeholder="Enter description">
              <input class="form-control" type="number" ng-model="income.amount" placeholder="Amount">
              <select class="btn btn-default" ng-model="income.freq">
                <option value="D">Daily</option>
                <option value="WD">Week days</option>
                <option value="WE">Weekends</option>
                <option value="W">Weekly</option>
                <option value="2W">Every two weeks</option>
                <option value="M">Monthly</option>
                <option value="ME">Monthly(Current month excl.)</option>
              </select>
              <button class="btn btn-danger" ng-click="removeIncome($index)"><i class="fa fa-remove"></i></button>
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewIncome()"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>

            <p>What are your regular expenses</p>
            <li ng-repeat="expense in expenses">
              <input type="checkbox" ng-model="expense.apply">
              <input class="form-control" type="text" ng-model="expense.title" placeholder="Enter description">
              <input class="form-control" type="number" ng-model="expense.amount" placeholder="Amount">
              <select class="btn btn-default" ng-model="expense.freq">
                <option value="D">Daily</option>
                <option value="WD">Week days</option>
                <option value="WE">Weekends</option>
                <option value="W">Weekly</option>
                <option value="2W">Every two weeks</option>
                <option value="M">Monthly</option>
                <option value="ME">Monthly(Current month excl.)</option>
              </select>
              <button class="btn btn-danger" ng-click="removeExpense($index)"><i class="fa fa-remove"></i></button>
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewExpense()"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>


            <p>Your casual income</p>
            <li ng-repeat="casualIncome in casualIncomes">
              <input type="checkbox" ng-model="casualIncome.apply">
              <input class="form-control" type="text" ng-model="casualIncome.title" placeholder="Enter description">
              <input class="form-control" type="number" ng-model="casualIncome.amount" placeholder="Amount">
              <select class="btn btn-default" ng-init="casualIncome.month = monthLabels[0].id" ng-options="monthLabel.id as monthLabel.name for monthLabel in monthLabels" ng-model="casualIncome.month">
              </select>
              <button class="btn btn-danger" ng-click="removeCasualIncome($index)"><i class="fa fa-remove"></i></button>
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewCasualIncome()"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>

            <p>Your casual expenses</p>
            <li ng-repeat="casualExpense in casualExpenses">
              <input type="checkbox" ng-model="casualExpense.apply">
              <input class="form-control" type="text" ng-model="casualExpense.title" placeholder="Enter description">
              <input class="form-control" type="number" ng-model="casualExpense.amount" placeholder="Amount">
              <select class="btn btn-default" ng-init="casualIncome.month = monthLabels[0].id" ng-options="monthLabel.id as monthLabel.name for monthLabel in monthLabels" ng-model="casualExpense.month"></select>
              <button class="btn btn-danger" ng-click="removeCasualExpense($index)"><i class="fa fa-remove"></i></button>
            <li>
            <br/>
            <button class="btn btn-default" ng-click="addNewCasualExpense()"><i class="fa fa-plus"><span class="addButton">Add</span></i></button>
          </div>

        <div id="outputDiv" class="col-md-5">
          <table>
            <th colspan="2">Accumulated Net Income</th>
            <th>Balance</th>
            <tr ng-repeat="netIncome in getNetIncomes() track by $index">
              <td>{{getMonthLabel($index)}}</td>
              <td style="text-align: right">{{netIncome}}</td>
              <td style="text-align: right">{{netIncome + startAmount}}</td>
          <table>
        </div>
      </div>
    </div>
</body>
</html>